<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.UserMapper">
	<!-- 회원가입 -->
	<insert id="insertUserDTO" parameterType="UserDTO">
		INSERT INTO user
		(
		user_id,
		user_name,
		user_mail,
		extension,
		reg_dt,
		active
		)
		VALUES
		(
		#{user_id},
		#{user_name},
		#{user_mail},
		#{extension},
		now(),
		'y'
		)
	</insert>
	<!-- 사용자 확인 -->
	<select id="getUserLogin" parameterType="UserDTO" resultType="UserDTO">
		SELECT
		user_no,
		user_id,
		user_name,
		user_mail,
		extension,
		reg_dt,
		active
		FROM user
		WHERE user_id=#{user_id} and
		user_name=#{user_name} and
		user_mail=#{user_mail} and
		extension=#{extension}
	</select>
	<!-- 관리자 로그인 -->
	<select id="getAdmin" parameterType="UserDTO" resultType="UserDTO">
		SELECT
		user_no,
		user_id,
		user_name,
		user_mail,
		extension,
		reg_dt,
		active
		FROM user
		WHERE user_id=#{user_id} and
		user_mail=#{user_mail}
	</select>
</mapper>