.a-button {
	border: 2px solid #049dd9;
    padding: 10px 30px 10px 30px;
}
.a-button:hover .a-button:focus {
	border: 2px solid #d90404;
    padding: 10px 30px 10px 30px;
    color: #049dd9;
}
#new_add {
	text-align : center;
	padding-bottom: 20px;
}

.notice-title {
	font-weight: bold;
}
.notice-check {
	color: #d90404;
	font-weight: bold;
}

.multifiledownload {
    position: relative;
	bottom: -30px;
    width: 140px;
    height: 50px;
    font-size: 16px;
    color: #fff;
	border: 0px solid #049dd9;
    text-align: center;
    overflow: hidden;
    background-color: #049dd9;
}

.multifiledownload:hover {
    background-color: #fff;
    border: 2px solid #049dd9;
	color: #049dd9;
}
.Googledrive {
    position: relative;
	bottom: -30px;
    width: 210px;
    height: 50px;
    font-size: 16px;
    color: #fff;
	border: 0px solid #049dd9;
    text-align: center;
    overflow: hidden;
    background-color: #049dd9;
}

.Googledrive:hover {
    background-color: #fff;
    border: 2px solid #049dd9;
	color: #049dd9;
}
.filedownload {
	border-radius: 3px;
    overflow: hidden;
    border: none;
    background-color: #0ba1b5;
    color: #fff;
    height: 25px;
}